

body {
	color: white;
}

.text-center {
	text-align: center;
}

.center {
	
}

@media (max-width: 767px) {
	.center {
		margin: auto 0;
		width: 80%;

	}
}

#bg { 
	top: 0; 
	left: 0; 
	min-width: 100%;
	min-height: 100%;
	background-size: cover;
}

.img-width {
	max-width: 125px;
	margin: 0 auto;
}

.temp {
	font-size:3em;
	font-weight:bold;
	text-shadow: 0px 15px 15px #000;
}

.head {
	font-size: 48px;
}

.color-box {
	background: rgba(126, 126, 126, 0.75);
	border-radius: 10px;
	margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.summary-long {
	font-size: 24px;
}